= form_for @user do |f|
  = render partial: "shared/errors", locals: { target: @user }
  .form-group
    = f.label :first_name, "First Name"
    = f.text_field :first_name
  .form-group
    = f.label :last_name, "Last Name"
    = f.text_field :last_name
  .form-group
    = f.label :email
    = f.number_field :email
  .form-group
    = f.label :password
    = f.text_field :password
  = f.submit "Create Account"
