%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
  .navbar-header.container
    %ul.nav.navbar-nav.mr-auto
      %li.nav-item
        = link_to root_path, {class: "navbar-brand nav-link"} do
          %span.glyphicon.glyphicon-briefcase
          Voting Bloc
      - if current_user
        %li.nav-item= link_to"Upcoming Votes", elections_path, {class: "nav-link"}
        %li.nav-item= link_to "Your Profile", user_path(current_user), {class: "nav-link"}
    .user-logged-in
      - if current_user
        = "Welcome, #{full_name(current_user)}!"
        = link_to "Logout", logout_path, method: :delete
      - else
        = link_to "New Account", new_user_path
