.container.bg-white.page-container
  %h1= @election.topic

  %p= @election.description

  %h2 Candidates
  - if @election.can_run?(current_user)
    %p= link_to "Run in this Election", {controller: "candidates/election", action: "update", user_id: current_user.id}, {method: :post}
  %ul.list-group
    - @election.candidates.each do |candidate|
      %li.list-group-item
        = candidate.full_name
  - if @election.can_be_edited?(current_user)
    %p= link_to "Edit", edit_admin_election_path(@election), {class: "btn btn-primary btn-edit"}
  - if @election.can_be_deleted?(current_user)
    %p= link_to "Delete", admin_election_path(@election), {method: :delete, class: "btn btn-danger btn-delete"}

  %p= link_to "All Elections", elections_path
