!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VotingBloc
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    %link{rel: :stylesheet, type: :"text/css", href: :"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", media: :'all', integrity: :"sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin: :"anonymous"}
    %link{rel: :stylesheet, href: :"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity: :"sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin: :"anonymous"}

    = javascript_include_tag 'application'
  %body.container
    .container
      =render "shared/nav"

    .container
      - flash.each do |type, message|
        = content_tag :div, message, class: "alert alert-#{type}"
    = yield
